@import '@angular/material@2.0.0-alpha.11/core/style/_elevation.scss';
:host {
	@include md-elevation(1);
	display: flex;
	flex-direction: column;
	position: relative;
}
.column {
	flex: 1 1;
}
md-list {
	flex: 1;
	overflow: auto
}
md-toolbar {
	@include md-elevation(1);
}
[md-fab] {
	position: absolute;
	bottom: 24px;
	right: 24px;
}
md-button-toggle-group {
	margin: auto;
}
menu-game {
	margin-left: auto;
}
md-button-toggle-group {
	flex-wrap: wrap;
}
md-virtual-repeat-container {
	height: 100%;
}