<md-toolbar>
	<a
		md-icon-button
		md-tooltip="Close"
		(click)="close()"
	>
		<md-icon>close</md-icon>
	</a>
	{{game?.title}}
	<menu-game [game]="game"></menu-game>
</md-toolbar>
<md-button-toggle-group
	[ngModel]="game?.state"
	(ngModelChange)="changeGameState(game, $event)"
>
	<md-button-toggle
		*ngFor="let state of states"
		[value]="state.id"
	>
		<game-state-icon [state]="state.id"></game-state-icon>
		{{state.name}}
	</md-button-toggle>
</md-button-toggle-group>
<md-list
	*vsFor="
		sessions;
		size: 48;
		let _sessions = vsCollection;
		tagName: 'div';
	"
>
	<div *ngFor="let session of _sessions">
		<md-list-item class="session">
			<span class="column">
				{{ session.start|date:"MMM d, y HH:mm" }}
			</span>
			<span class="column">
				{{ (session.stop?session.stop:undefined)|date:"MMM d, y HH:mm" }}
			</span>
			<span class="column">
				{{ (session.stop - session.start)|duration }}
			</span>
		</md-list-item>
		<md-divider></md-divider>
	</div>
</md-list>
<button
	md-fab
	(click)="isRunning(game)?stopGame(game):startGame(game)"
>
	<md-icon class="md-24">{{ isRunning(game) ? 'pause' : 'play_arrow' }}</md-icon>
</button>