<md-toolbar>
	<a
		md-icon-button
		mdTooltip="Close"
		mdTooltipPosition="below"
		(click)="close()"
	>
		<md-icon>arrow_back</md-icon>
	</a>
	{{game?.title}}
	<menu-game-trigger [game]="game"></menu-game-trigger>
</md-toolbar>
<md-button-toggle-group
	[ngModel]="game?.state"
	(ngModelChange)="changeGameState(game, $event)"
>
	<md-button-toggle
		*ngFor="let state of states"
		[value]="state.id"
	>
		<game-state-icon [state]="state.id"></game-state-icon>
		{{state.name}}
	</md-button-toggle>
</md-button-toggle-group>
<md-list>
	<md-virtual-repeat-container>
		<div
			*mdVirtualRepeat="
				let session of sessions$|async;
				itemSize: 48;
				trackBy: session?.start;
			"
		>
			<md-list-item class="session">
				<span class="column">
					{{ session.start|moment:'MMM D, Y HH:mm' }}
				</span>
				<span class="column">
					{{ (session.stop?(session.stop|moment:'MMM D, Y HH:mm'):undefined) }}
				</span>
				<span class="column">
					{{ session | sessionDuration | async | duration }}
				</span>
			</md-list-item>
			<md-divider></md-divider>
		</div>
	</md-virtual-repeat-container>
</md-list>
<button
	md-fab
	(click)="startStopGame(game)"
>
	<md-icon class="md-24">{{ isRunning(game) ? 'pause' : 'play_arrow' }}</md-icon>
</button>