<md-toolbar color="primary">
	<a
		md-icon-button
		[routerLink]="[
			'/games',
			{outlets: {
			detail: null
			}}
		]"
		md-tooltip="Close"
	>
		<md-icon>close</md-icon>
	</a>
	{{game?.title}}
</md-toolbar>
<!-- 
		<button md-raised-button (click)="renameGame(game)">Rename</button>
		<button md-raised-button (click)="removeGame(game)">Remove</button>
 -->		
<!--  <md-select
			[ngModel]="game?.state"
			placeholder="Game state"
			(ngModelChange)="setGameState(game, $event)"
		>
			<md-option
				*ngFor="let state of states"
				[value]="state.id"
				[id]="state.id"
			>
				{{state.name}}
			</md-option>
		</md-select> -->


<md-button-toggle-group
			[ngModel]="game?.state"
			(ngModelChange)="setGameState(game, $event)"

>
	<md-button-toggle
		*ngFor="let state of states"
		[value]="state.id"
	>
		<md-icon>{{state.icon}}</md-icon>
		{{state.name}}
	</md-button-toggle>
</md-button-toggle-group>

		<md-list>
			<div *ngFor="let session of game?.sessions;trackBy: session?.start">
				<md-list-item class="session">
					<span class="column">
						{{ session.start|date:"MMM d, y HH:mm" }}
					</span>
					<span class="column">
						{{ (session.stop?session.stop:undefined)|date:"MMM d, y HH:mm" }}
					</span>
					<span class="column">
						{{ (session.stop - session.start)|duration }}
					</span>
				</md-list-item>
				<md-divider></md-divider>
			</div>
		</md-list>
<button
	md-fab
	(click)="isRunning(game)?stopGame(game):startGame(game)"
>
	<md-icon class="md-24">{{ isRunning(game) ? 'pause' : 'play_arrow' }}</md-icon>
</button>