:host {
	@import '@angular/material@2.0.0-alpha.11/core/style/_elevation.scss';
	@include md-elevation(5);
	z-index: 5;

	flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .settings {
    	margin-top: auto;
    }
    .all {
    	height: 64px;
		img {
			width: 48px;
			height: 48px;
			margin-top: 8px;
	    }
    }
}