:host {
	@import 'jspm:@angular/material/core/style/_elevation';
	@include md-elevation(1);

    @import "jspm:a2/components/timer/theme";
    $background: map-get($a2-app-theme-dark, background);
    $foreground: map-get($a2-app-theme-dark, foreground);
    $primary: map-get($a2-app-theme-dark, primary);
    background: md-color($background, 'app-bar');

	width: 70px;
	flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: md-color($foreground, 'icon');

    .active {
        color: md-color($primary, 400)
    }
    .settings {
        margin-top: auto;
    }
    .all { 
        height: 64px;
        min-width: 64px;
        width: 100%;
        padding: 0;

        md-icon {
            margin-top: 8px;
            width: 48px;
            height: 48px;
        }
    }

    @media(max-width: 960px) {
        flex-direction: row;
        height: 48px;
        width: 100%;

        .all {
            width: 48px;
            min-width: 48px;
            height: 48px;

            md-icon {
                margin-top: 8px;
                width: 32px;
                height: 32px;
            }
        }
        .settings {
            margin-top: 0;
            margin-left: auto;
        }
    }
}