:host {
	@import '@angular/material@2.0.0-alpha.11/core/style/_elevation.scss';
	@include md-elevation(1);

	width: 70px;
	flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .settings {
        margin-top: auto;
    }
    .all { 
        height: 64px;
        min-width: 64px;
        width: 100%;
        padding: 0;

        md-icon {
            margin-top: 8px;
            width: 48px;
            height: 48px;
        }
    }

    @media(max-width: 960px) {
        flex-direction: row;
        height: 48px;
        width: 100%;

        .all {
            width: 48px;
            min-width: 48px;
            height: 48px;

            md-icon {
                margin-top: 8px;
                width: 32px;
                height: 32px;
            }
        }
        .settings {
            margin-top: 0;
            margin-left: auto;
        }
    }
}