<a
	md-button
	[routerLink]="[
		'games', 'all'
	]"
	[mdTooltip]="tooltipText('All')|async"
	[mdTooltipPosition]="tooltipPosition$|async"
	class="all"
	[routerLinkActive]="['active']"
>
	<md-icon svgIcon="logo"></md-icon>
</a>
<button
	md-icon-button
	*ngFor="let state of states"
	[mdTooltip]="tooltipText(state.name)|async"
	[mdTooltipPosition]="tooltipPosition$|async"
	[routerLink]="[
		'games',
		state.id
	]"
	[routerLinkActive]="['active']"
><game-state-icon [state]="state.id"></game-state-icon></button>
<button
	md-icon-button
	[mdTooltip]="tooltipText('Settings')|async"
	[mdTooltipPosition]="tooltipPosition$|async"
	class="settings"
	routerLink="settings"
	[routerLinkActive]="['active']"
><md-icon>settings</md-icon></button>