<a
	md-button
	[routerLink]="[
		'games',
		{outlets: {
			list: ['all'],
			detail: null
		}}
	]"
	md-tooltip="All games"
	tooltip-position="right"
	class="all"
>
	<md-icon [svgSrc]="assetURL('logo.svg')" color="primary"></md-icon>
</a>
<button
	md-icon-button
	*ngFor="let state of states"
	[md-tooltip]="state.name"
	tooltip-position="right"
	[routerLink]="[
		'games',
		{outlets: {
			list: [state.id],
			detail: null
		}}
	]"
	[routerLinkActive]="['md-accent']"
><md-icon>{{state.icon}}</md-icon></button>
<button
	md-icon-button
	md-tooltip="Settings"
	tooltip-position="right"
	class="settings"
	routerLink="settings"
	[routerLinkActive]="['md-accent']"
><md-icon>settings</md-icon></button>