:host {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
games-list {
	will-change: left;
}
game-detail {
	will-change: transform, opacity;
}
games-list, game-detail {
	flex: 1;
	height: 100%;
	max-width: 50%;
}
@media(max-width: 960px) {
	games-list, game-detail {
		flex: 0 0 100%;
		height: 100%;
		max-width: none;
	}
}