<games-list
	[@move]="animationState$|async"
	[games]="stateGames$|async"
	[currentGame]="game$|async"
	[state]="state$|async"
	(onGameAdd)="addGame($event)"
	(onGameClick)="openGame($event)"
	[topIndex]="topGame"
	(topIndexChange)="topGame$.next($event)"
></games-list>
<game-detail
	[@appear]="animationState$|async"
	*ngIf="(game$|async)"
	[game]="game$|async"
	(onClose)="closeGame()"
	(onGameStartStop)="startStopGame($event)"
	(onGameStateChange)="setGameState($event)"
></game-detail>
<menu-game
	(onGameRemove)="removeGame($event)"
	(onGameRename)="renameGame($event)"
></menu-game>