@import 'theme.scss';
$material-design-icons-font-path: 'jspm_packages/npm/material-design-icons-iconfont@3.0.2/dist/fonts/';
@import 'material-design-icons-iconfont@3.0.2/dist/material-design-icons.scss';
timer {
	display: flex;
	flex-direction: row;
	height: 100%;
	font-family: sans-serif;

	router-outlet {
		flex: 0 0 0;

		&+*{
			flex: 1;
		}
	}
}
body, html {
	height: 100%;
}