// Theme
// @import 'theme.scss';
@import 'theme'; // My colors and theme
@import 'jspm:@angular/material/core/theming/all-theme'; // Mixins to theme MD components
@include md-core(); // Apply not themed MD styles
@include angular-material-theme($a2-app-theme); // Apply colors to MD theme

// Icons
$material-design-icons-font-path: fixSlashes(jspm_resolve('material-design-icons-iconfont/dist/fonts/')+'/');
@import 'jspm:material-design-icons-iconfont/dist/material-design-icons';

timer {
	display: flex;
	flex-direction: row;
	height: 100%;
	font-family: sans-serif;
	overflow: hidden;

	@media(max-width: 960px) {
		flex-direction: column;
	}

	router-outlet {
		flex: 0 0 0;

		&+*{
			flex: 1;
		}
	}
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}