<md-toolbar>
	<div
		class="content"
		[@search]="searchState"
		#content
	>
		<span>
			{{ state?.name }}
			<games-duration [games]="games$|async"></games-duration>
		</span>
		<button
			md-icon-button
			class="search-button"
			(click)="toggleSearch()"
			(mouseover)="
				content.style.willChange = 'transform';
				search.style.willChange = 'transform';
			"
		>
			<md-icon>search</md-icon>
		</button>
	</div>
	<div
		class="search"
		[@search]="searchState"
		(@search.done)="focus($event, input)"
		#search
	>
		<button
			md-icon-button
			(click)="toggleSearch()"
			[tabindex]="searchState === 'hidden' ? -1 : 0"
		>
			<md-icon>arrow_back</md-icon>
		</button>
		<md-input
			tabindex="-1"
			#input
			(keyup.esc)="toggleSearch('visible')"
			(blur)="toggleSearch('visible')"
			placeholder="Search"
			(input)="
				doSearch($event.target.value);
			"
		>
		</md-input>
	</div>	
</md-toolbar>

<md-nav-list>
	<md-virtual-repeat-container
		[topIndex]="topIndex"
		(topIndexChange)="topIndexChange.emit($event)"
	>
		<games-list-item
			*mdVirtualRepeat="
				let game of games$|async;
				itemSize: 48;
				trackBy: trackBy;
			"
			[game]="game"
			(onGameClick)="gameClick($event)"
			tabindex="0"
			[isCurrent]="game.id === currentGame?.id"
		></games-list-item>
	</md-virtual-repeat-container>
</md-nav-list>
<button
	md-fab
	(click)="addGame($event)"
>
	<md-icon class="md-24">add</md-icon>
</button>