<md-toolbar>{{ state?.name }}</md-toolbar>
<md-nav-list
	*vsFor="
		games;
		size: 48;
		let _games = vsCollection;
	"
>
	<games-list-item
		*ngFor="let game of _games; trackBy: game?.id"
		(onRenamed)="renameGame($event)"
		(onStateSet)="stopGame($event)"
		(onRemoved)="removeGame($event)"
		(onStarted)="startGame($event)"
		(onStopped)="stopGame($event)"
		[game]="game"
		[states]="states"
		tabindex="0"
	></games-list-item>
</md-nav-list>
<button
	md-fab
	(click)="addGame()"
>
	<md-icon class="md-24">add</md-icon>
</button>