<md-toolbar>
	<div
		class="content"
		[@search]="searchState"
	>
		<span>{{ state?.name }}</span>
		<button
			md-icon-button
			class="search-button"
			(click)="toggleSearch()"
		>
			<md-icon>search</md-icon>
		</button>
	</div>
	<div
		class="search"
		[@search]="searchState"
		(@search.done)="focus($event, input)"
	>
		<button
			md-icon-button
			(click)="toggleSearch()"
		>
			<md-icon>arrow_back</md-icon>
		</button>
		<md-input
			#input
			(keyup.esc)="toggleSearch('visible')"
			(blur)="toggleSearch('visible')"
			placeholder="Search"
			(input)="
				doSearch($event.target.value);
			"
		>
		</md-input>
	</div>	
</md-toolbar>
<!-- <md-nav-list>
	<games-list-item
		*ngFor="
			let game of games$|async;
			trackBy: trackBy;
		"
		[game]="game"
		(onGameClick)="gameClick($event)"
		tabindex="0"
	></games-list-item>
</md-nav-list> -->

<md-nav-list>
	<md-virtual-repeat-container
	>
		<games-list-item
			*mdVirtualRepeat="
				let game of games$|async;
				itemSize: 48;
				trackBy: trackBy;
			"
			[game]="game"
			(onGameClick)="gameClick($event)"
			tabindex="0"
		></games-list-item>
	</md-virtual-repeat-container>
</md-nav-list>
<!-- <md-nav-list
	class="list"
	*vsFor="
		games$|async;
		size: 48;
		let _games = vsCollection;
	"
>
	<games-list-item
		*ngFor="let game of _games; trackBy: game?.id"
		[game]="game"
		(onGameClick)="gameClick($event)"
		tabindex="0"
	></games-list-item>
</md-nav-list> -->
<button
	md-fab
	(click)="addGame($event)"
>
	<md-icon class="md-24">add</md-icon>
</button>