@import "jspm:a2/components/timer/theme";
:host {
	[md-line] {
		display: flex;
		flex-direction: row;
		padding-right: 1em;
		line-height: 24px;
	}
}
.title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.total {
	margin-left: auto;
}
game-state-icon {
	margin-right: 16px;
}
.current {
	background: md-color(map-get($a2-app-theme, primary), 100);
}
.running {
	color: md-color(map-get($a2-app-theme, accent), 900);
}