<a
	md-list-item
	[routerLink]="[
		'/games',
		{outlets: {
			detail: [game.id, game.title|slug]
		}}
	]"
	
>
	<div md-line>
		<md-icon class="state-icon">{{getIcon(game.state)}}</md-icon>
		<span class="title">{{game.title}}</span>
		<span class="total">{{game.total | duration}}</span>
	</div>
	<button
		[md-menu-trigger-for]="menu"
		(click)="$event.preventDefault(); $event.stopPropagation()"
		md-icon-button
	>
		<md-icon>more_vert</md-icon>
	</button>

	<md-menu #menu="mdMenu">
	    <button md-menu-item (click)="remove(game)">Delete</button>
	    <button md-menu-item (click)="rename(game)">Rename</button>
	</md-menu>
</a>
<md-divider></md-divider>